<div class="container">
    <legend>fdafd</legend>
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>name</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>jjg</td>
            </tr>
        </tbody>
    </table>
</div>

<form class="form-horizontal" method="post">
	<fieldset>
		<legend>编辑用户</legend>
		<div class="control-group">
			<label class="control-label" for="username">用户名</label>
			<div class="controls">
				<input type="text" class="input-xlarge disabled" id="username" name="username" value="<%= locals.user.name %>" disabled>
			</div>
        </div>
        <div class="control-group">
			<label class="control-label" for="email">邮箱</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" name="email">
			</div>
        </div>
                <table>
                    <thead>
                        <tr>
                            <td>1</td>
                            <td>fda</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>jj</td>
                            <td>kk</td>
                        </tr>
                    </tbody>
                </table>
        <div class="control-group">
			<label class="control-label" for="password-repeat">重复口令</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password-repeat" name="password-repeat">
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">保存</button>
		</div>
	</fieldset>
</form>
